.form
  width: 100%
  display: flex
  justify-content: space-between
  &__input
    max-width: 510px
    width: 100%
    padding: 10px
    font-size: 16px
    border: 2px solid #2C68D2
    border-radius: 12px
    &:focus
      outline: none

  &__button
    margin-left: 20px
    padding: 5px 10px
    background-color: #15CAAA
    color: white
    border: none
    border-radius: 5px
    font-size: 18px
    cursor: pointer
    transition: background-color 300ms

    &:hover
      background-color: darken(#15CAAA, 5%)